.footer {
    padding: 45px 0px;
    border-top: 1px solid #6c6c6c;
    background: #3d3d3d;
    font-size: 14px;
    color: #fff;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__legal {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        color: #26cf26;
        text-decoration: underline;
        transition: 0.5s;

        &:hover {
            text-decoration: none;
        }
    }
}
