@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button,
a {
  -webkit-tap-highlight-color: transparent;
}
input:focus-visible,
textarea:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}

@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: #242924;
  font-family: "SF UI Display";
  font-weight: 400;
}

.wrapper {
  background-image: url(../img/wrapper/fon.png);
  background-repeat: repeat-x;
  background-position: 0px 490px;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 900px) {
  .container {
    padding: 0px 20px;
  }
}

.accent {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #26cf26;
}

#hero,
#oppo,
#partners,
#contact {
  scroll-margin-top: 90px;
}

@media (max-width: 767px) {
  #hero,
  #oppo,
  #partners,
  #contact {
    scroll-margin-top: 290px;
  }
}
.title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  padding-left: 121px;
  position: relative;
}
.title::before {
  content: "";
  border-radius: 50px;
  width: 66px;
  height: 23px;
  background: #26cf26;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 550px) {
  .title {
    padding-left: 90px;
    font-size: 28px;
  }
}

.content {
  flex-grow: 1;
}

/* .header {
    background: #242924;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    line-height: 1.5;

    @media (max-width: 1025px) {
        box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
        background: #383938;
    }

    &__container {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        flex-wrap: wrap;

        @media (max-width: 967px) {
            column-gap: 30px;
            row-gap: 10px;
        }
    }

    &__logo {
        flex-shrink: 0;

        @media (max-width: 746px) {
            width: 75px;
        }
    }

    &__menu {
        font-size: 16px;
        color: #fff;
        margin-left: auto;

        @media (max-width: 746px) {
            font-size: 14px;
        }
        @media (max-width: 461px) {
            margin-left: 0;
        }
    }

    &__list {
        display: flex;
        column-gap: 70px;
        flex-wrap: wrap;

        @media (max-width: 967px) {
            column-gap: 20px;
            row-gap: 10px;
        }
    }

    &__link {
        position: relative;
        transition: color 0.5s ease;

        &::after {
            content: "";
            position: absolute;
            background: #26cf26;
            left: 0px;
            bottom: -2px;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s ease;
        }

        &:hover {
            color: #26cf26;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__lang-dropdown {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: -10px;
        color: #fff;
        font-size: 16px;

        @media (max-width: 746px) {
            font-size: 14px;
        }
        @media (max-width: 567px) {
            margin-right: auto;
        }

        &:hover .header__lang-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__lang-btn {
        gap: 9px;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
    }

    &__lang-list {
        position: absolute;
        left: 0px;
        top: 100%;
        padding-top: 5px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        transition:
            opacity 0.5s ease,
            visibility 0.5s ease,
            transform 0.5s ease;
    }
} */
/* .header {
    background: #242924;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    line-height: 1.5;

    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
        flex-wrap: wrap;
        min-height: 90px;
    }
    &__burger {
    }
    &__logo {
    }

    &__menu {
        font-size: 16px;
        color: #fff;
        margin-left: auto;
    }

    &__icon {
    }

    &__list {
    }

    &__item {
    }

    &__link {
        position: relative;
        transition: color 0.5s ease;

        &::after {
            content: "";
            position: absolute;
            background: #26cf26;
            left: 0px;
            bottom: -2px;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s ease;
        }

        &:hover {
            color: #26cf26;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__lang-dropdown {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: -10px;
        color: #fff;
        font-size: 16px;

        @media (max-width: 746px) {
            font-size: 14px;
        }
        @media (max-width: 567px) {
            margin-right: auto;
        }

        &:hover .header__lang-list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            pointer-events: all;
        }
    }

    &__lang-btn {
        gap: 9px;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
    }

    &__lang-btn--rus {
    }

    &__lang-list {
        position: absolute;
        left: 0px;
        top: 100%;
        padding-top: 5px;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        transition:
            opacity 0.5s ease,
            visibility 0.5s ease,
            transform 0.5s ease;
    }

    &__lang-btn--eng {
    }
    @media (min-width: 1024px) {
        .header__list {
            display: flex;
            column-gap: 70px;
            flex-wrap: wrap;
        }
    }
} */
.header {
  background: #242924;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .header {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
    background: #383938;
  }
}
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .header__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.header__logo {
  z-index: 110;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .header__logo {
    order: 1;
  }
}
@media (max-width: 567px) {
  .header__logo {
    max-width: 75px;
  }
  .header__logo img {
    max-width: 100%;
    height: auto;
  }
}
.header__lang-dropdown {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: -10px;
  color: #fff;
  font-size: 16px;
  z-index: 110;
}
@media (max-width: 767px) {
  .header__lang-dropdown {
    order: 2;
    margin-left: auto;
  }
}
@media (min-width: 1025px) {
  .header__lang-dropdown:hover .header__lang-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .header__lang-dropdown:hover .header__lang-arrow {
    transform: rotate(-180deg);
  }
}
.header__lang-dropdown._active .header__lang-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header__lang-dropdown._active .header__lang-arrow {
  transform: rotate(-180deg);
}
.header__burger-icon {
  display: none;
}
@media (max-width: 767px) {
  .header__burger-icon {
    position: relative;
    z-index: 110;
    display: block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    order: 3;
  }
  .header__burger-icon::before, .header__burger-icon::after,
  .header__burger-icon span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header__burger-icon::before {
    top: 0;
  }
  .header__burger-icon::after {
    bottom: 0;
  }
  .header__burger-icon span {
    top: 9px;
  }
  .header__burger-icon.is-open span {
    transform: scale(0);
  }
  .header__burger-icon.is-open::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__burger-icon.is-open::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
}
.header__menu {
  display: flex;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-150%);
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: #383938;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    z-index: 100;
  }
  .header__menu.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
.header__list {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .header__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .header__list {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }
}
.header__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease;
}
.header__link::after {
  content: "";
  position: absolute;
  background: #26cf26;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.header__link:hover {
  color: #26cf26;
}
.header__link:hover::after {
  transform: scaleX(1);
}
.header__lang-btn {
  gap: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}
.header__lang-list {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}
.header__lang-arrow {
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #fff;
  clip-path: polygon(0 0, 50% 100%, 100% 0, 80% 0, 50% 60%, 20% 0);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.hero {
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: -85px;
  padding-top: 53px;
}
@media (max-width: 746px) {
  .hero {
    padding-top: 20px;
  }
}
@media (max-width: 968px) {
  .hero {
    margin-bottom: 50px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: start;
}
@media (max-width: 540px) {
  .hero__body {
    max-width: 195px;
  }
}
.hero__title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 19px;
}
@media (max-width: 836px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__text {
  font-size: 18px;
  color: #fff;
  max-width: 430px;
  line-height: 22px;
  margin-bottom: 54px;
}
@media (max-width: 836px) {
  .hero__text {
    line-height: 15px;
    font-size: 14px;
  }
}
.hero__phone {
  width: 100%;
  max-width: 605px;
  height: auto;
  min-width: 224px;
}
@media (max-width: 1200px) {
  .hero__buttons {
    flex-wrap: wrap;
  }
}

.oppo #target-block {
  scroll-margin-top: 180px;
}
.oppo {
  padding-bottom: 129px;
}
@media (max-width: 1000px) {
  .oppo {
    padding-bottom: 50px;
  }
}
.oppo__title {
  margin-bottom: 104px;
}
@media (max-width: 640px) {
  .oppo__title {
    margin-bottom: 50px;
  }
}
.oppo__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  .oppo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px, 700px));
  }
}
.oppo__card {
  max-width: 700px;
  width: 100%;
  padding: 34px 20px 30px 22px;
  border-radius: 30px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
  background: #393a39;
}
@media (max-width: 1000px) {
  .oppo__card {
    min-height: 226px;
  }
}
.oppo__card-header {
  display: flex;
  gap: 15px;
  margin-bottom: 32px;
  align-items: center;
}
@media (max-width: 640px) {
  .oppo__card-header {
    margin-bottom: 10px;
  }
}
.oppo__label {
  font-size: 18px;
  color: #fff;
}
@media (max-width: 1144px) {
  .oppo__label {
    font-size: 14px;
  }
}
.oppo__body {
  display: flex;
  color: #828282;
  padding-left: 15px;
  gap: 36px;
}
.oppo__percent-list {
  margin-top: -14px;
  line-height: 27px;
  text-align: center;
  padding-left: 15px;
}
.oppo__percent-item {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #26cf26;
}
.oppo__text-list {
  margin-top: -15px;
  line-height: 27px;
}

.partners {
  padding-bottom: 162px;
}
@media (max-width: 580px) {
  .partners {
    padding-bottom: 55px;
  }
}
.partners__title {
  margin-bottom: 28px;
}
.partners__text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 50px;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  counter-reset: parners-counter;
}
@media (max-width: 720px) {
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.partners__item {
  max-width: 286px;
  display: flex;
  flex-direction: column;
  counter-increment: partners-counter;
}
.partners__item::before {
  content: counter(partners-counter, decimal-leading-zero) " ";
  font-family: "SF UI Display", sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 420px) {
  .partners__item::before {
    font-size: 72px;
  }
}
.partners__item-title {
  font-size: 18px;
  color: #fff;
  margin-top: -50px;
  margin-bottom: 71px;
}
@media (max-width: 1000px) {
  .partners__item-title {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .partners__item-title {
    margin-top: -30px;
    margin-bottom: 21px;
  }
}

.contact {
  padding-top: 55px;
  padding-bottom: 115px;
  background: #3d3d3d;
}
@media (max-width: 580px) {
  .contact {
    padding-top: 20px;
    padding-bottom: 55px;
  }
}
.contact__title {
  margin-bottom: 36px;
}
.contact__body {
  display: flex;
  gap: 30px;
}
@media (max-width: 680px) {
  .contact__body {
    flex-wrap: wrap;
  }
}
.contact__column {
  display: flex;
  flex-direction: column;
}
@media (max-width: 684px) {
  .contact__column {
    align-items: center;
  }
}
.contact__text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 55px;
  flex: 1 1 auto;
}
@media (max-width: 952px) {
  .contact__text {
    flex: 0 0 auto;
  }
}
.contact__link {
  max-width: 259px;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #26cf26;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
  background: #535353;
  border-radius: 30px;
  padding: 19px 60px 19px 25px;
  min-width: 300px;
  transition: 0.5s;
}
@media (max-width: 684px) {
  .contact__link {
    justify-content: center;
  }
}
.contact__link:hover {
  box-shadow: 0 4px 50px 0 rgba(0, 255, 89, 0.08);
}
.contact__buttons {
  display: flex;
  justify-content: center;
}
@media (max-width: 952px) {
  .contact__buttons {
    flex-wrap: wrap;
  }
}

.footer {
  padding: 45px 0px;
  border-top: 1px solid #6c6c6c;
  background: #3d3d3d;
  font-size: 14px;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__legal {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.footer__link {
  display: inline-block;
  font-size: 14px;
  color: #26cf26;
  text-decoration: underline;
  transition: 0.5s;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__link + .footer__link {
  padding-left: 10px;
  border-left: 1px solid #ffffff; /* Белая линия */
}

.buttons {
  display: flex;
  gap: 30px;
}
.buttons__link {
  max-width: 259px;
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #26cf26;
  border: 1px solid #26cf26;
  border-radius: 40px;
  padding: 13px 25px;
  align-items: center;
  min-width: 259px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}
.buttons__link:hover {
  color: black;
}
.buttons__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #9cff60 0%, #19cb20 99.48%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.buttons__link:hover::before {
  opacity: 1;
}
.buttons__link--google {
  gap: 40px;
}
.buttons__link--apple {
  gap: 55px;
}/*# sourceMappingURL=styles.css.map */