*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  font-size: 14px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button,
a {
  -webkit-tap-highlight-color: transparent;
}
input:focus-visible,
textarea:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: url("/fonts/SFUIDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: #242924;
  font-family: "SF UI Display";
  font-weight: 400;
}

.wrapper {
  background-image: url(../img/wrapper/fon.png);
  background-repeat: repeat-x;
  background-position: 0px 490px;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 746px) {
  .container {
    padding: 0px 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  padding-left: 121px;
  position: relative;
}
.title::before {
  content: "";
  border-radius: 50px;
  width: 66px;
  height: 23px;
  background: #26cf26;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 550px) {
  .title {
    padding-left: 90px;
    font-size: 28px;
  }
}

.green {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #26cf26;
}

#hero,
#oppo,
#partners,
#contact {
  scroll-margin-top: 90px;
}

@media (max-width: 550px) {
  #hero,
  #oppo,
  #partners,
  #contact {
    scroll-margin-top: 130px;
  }
}
.header {
  background: #242924;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  line-height: 1.5;
}
@media (max-width: 1025px) {
  .header {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
    background: #383938;
  }
}
.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-wrap: wrap;
}
@media (max-width: 967px) {
  .header__container {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 20px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media (max-width: 746px) {
  .header__logo {
    width: 75px;
  }
}
.header__menu {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 746px) {
  .header__menu {
    font-size: 14px;
  }
}
.header__list {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-wrap: wrap;
}
@media (max-width: 967px) {
  .header__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.header__link {
  position: relative;
  transition: color 0.5s ease;
}
.header__link::after {
  content: "";
  position: absolute;
  background: #26cf26;
  left: 0px;
  bottom: -2px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}
.header__link:hover {
  color: #26cf26;
}
.header__link:hover::after {
  transform: scaleX(1);
}
.header__item--dropdown {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.header__item--dropdown:hover .header__link--eng {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header__link--rus {
  gap: 9px;
  cursor: pointer;
  display: flex;
}
.header__link--eng {
  position: absolute;
  left: 0px;
  top: 100%;
  display: flex;
  gap: 9px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.content {
  flex-grow: 1;
}

.hero {
  overflow: hidden;
  line-height: 1.5;
  margin-bottom: -85px;
  padding-top: 53px;
}
@media (max-width: 746px) {
  .hero {
    padding-top: 20px;
  }
}
@media (max-width: 968px) {
  .hero {
    margin-bottom: 50px;
  }
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: start;
}
@media (max-width: 540px) {
  .hero__body {
    max-width: 195px;
  }
}
.hero__title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 19px;
}
@media (max-width: 836px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__text {
  font-size: 18px;
  color: #fff;
  max-width: 430px;
  line-height: 22px;
  margin-bottom: 54px;
}
@media (max-width: 836px) {
  .hero__text {
    line-height: 15px;
    font-size: 14px;
  }
}
.hero__phone {
  width: 100%;
  max-width: 605px;
  height: auto;
  min-width: 224px;
}
.buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 1200px) {
  .buttons {
    flex-wrap: wrap;
  }
}
.buttons__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #26cf26;
  border: 1px solid #26cf26;
  border-radius: 40px;
  padding: 13px 25px;
  align-items: center;
  min-width: 259px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}
.buttons__link:hover {
  color: black;
}
.buttons__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #9cff60 0%, #19cb20 99.48%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.buttons__link:hover::before {
  opacity: 1;
}
.buttons__link--google {
  gap: 40px;
}
.buttons__link--apple {
  gap: 55px;
}

.oppo #target-block {
  scroll-margin-top: 180px;
}
.oppo {
  padding-bottom: 130px;
}
@media (max-width: 1000px) {
  .oppo {
    padding-bottom: 50px;
  }
}
.oppo__title {
  margin-bottom: 105px;
}
@media (max-width: 640px) {
  .oppo__title {
    margin-bottom: 50px;
  }
}
.oppo__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 1000px) {
  .oppo__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .oppo__list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.oppo__card {
  max-width: 450px;
  width: 100%;
  padding: 34px 20px 30px 22px;
  border-radius: 30px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
  background: #393a39;
}
@media (max-width: 1000px) and (min-width: 641px) {
  .oppo__card:last-child, .oppo__card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}
.oppo__card-header {
  display: flex;
  gap: 15px;
  margin-bottom: 32px;
  align-items: center;
}
@media (max-width: 640px) {
  .oppo__card-header {
    margin-bottom: 10px;
  }
}
.oppo__label {
  font-size: 18px;
  color: #fff;
  max-width: 248px;
}
@media (max-width: 1144px) {
  .oppo__label {
    font-size: 14px;
  }
}
.oppo__body {
  display: flex;
  color: #828282;
  padding-left: 15px;
  max-width: 310px;
  gap: 40px;
}
.oppo__percent-list {
  margin-top: -14px;
  line-height: 27px;
  text-align: center;
  padding-left: 15px;
}
.oppo__percent-item {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #26cf26;
}
.oppo__text-list {
  margin-top: -15px;
  line-height: 27px;
}

.partners {
  padding-bottom: 152px;
}
@media (max-width: 580px) {
  .partners {
    padding-bottom: 55px;
  }
}
.partners__title {
  margin-bottom: 28px;
}
.partners__text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 50px;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  counter-reset: parners-counter;
}
@media (max-width: 720px) {
  .partners__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.partners__item {
  max-width: 286px;
  display: flex;
  flex-direction: column;
  counter-increment: partners-counter;
}
.partners__item::before {
  content: counter(partners-counter, decimal-leading-zero) " ";
  font-family: "SF UI Display", sans-serif;
  font-weight: 900;
  font-size: 96px;
  color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 420px) {
  .partners__item::before {
    font-size: 72px;
  }
}
.partners__item-title {
  font-size: 18px;
  color: #fff;
  margin-top: -50px;
  margin-bottom: 71px;
}
@media (max-width: 1000px) {
  .partners__item-title {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .partners__item-title {
    margin-top: -30px;
    margin-bottom: 21px;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 115px;
  background: #3d3d3d;
}
@media (max-width: 580px) {
  .contact {
    padding-top: 20px;
    padding-bottom: 55px;
  }
}
.contact__title {
  margin-bottom: 36px;
}
.contact__body {
  display: flex;
  gap: 30px;
}
@media (max-width: 680px) {
  .contact__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 680px) {
  .contact__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact__text {
  font-size: 18px;
  color: #fff;
  margin-bottom: 55px;
}
.contact__link {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #26cf26;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.08);
  background: #535353;
  border-radius: 30px;
  padding: 19px 60px 19px 25px;
  min-width: 300px;
  transition: 0.5s;
}
.contact__link:hover {
  box-shadow: 0 4px 50px 0 rgba(0, 255, 89, 0.08);
}
.contact__buttons {
  justify-content: end;
}
@media (max-width: 680px) {
  .contact__buttons {
    justify-content: center;
  }
}

.footer {
  padding: 45px 0px;
  border-top: 1px solid #6c6c6c;
  background: #3d3d3d;
  font-size: 14px;
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__legal {
  display: flex;
}
.footer__link {
  font-size: 14px;
  color: #26cf26;
  text-decoration: underline;
  padding: 0px 5px;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__link:not(:last-child) {
  border-right: 1px solid white;
}
.footer__link:first-child {
  padding-left: 0;
}
.footer__link:last-child {
  padding-right: 0;
}/*# sourceMappingURL=styles.css.map */